.containerFluid {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: whitesmoke;
}

.heading {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 15px;
}

.data {
    text-align: center;
}
.btn {
    border: none;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    font-family: Roboto;
}

.btn:hover {
    background-color: #04AA6D;
    color: white;
}

.heading1 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

.heading2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

.para {
    color: #677088;
    height: 0px;
    width: 786px;
    left: 0px;
    top: 38px;
}

.para1 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #677088;
}